@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'irsans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/iransans/Woff/IRANSansXFaNum-Regular.woff') format('woff');
}

@font-face {
  font-family: 'irsans';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('/fonts/iransans/Woff/IRANSansXFaNum-Bold.woff') format('woff');
}

@font-face {
  font-family: 'rudaw';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/rudaw/regular/rudawregular2.woff') format('woff');
}

@font-face {
  font-family: 'rudaw';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('/fonts/rudaw/bold/rudawbold.woff') format('woff');
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0F172A inset;
  -moz-box-shadow: 0 0 0 30px #0F172A inset;
  box-shadow: 0 0 0 30px #0F172A inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px #0F172A inset;
  -moz-box-shadow: 0 0 0 100px #0F172A inset;
  box-shadow: 0 0 0 100px #0F172A inset;
  filter:none;
} */